{% set route_name = app.request.attributes.get('_route') %}

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
        <div class="navbar-left">
            <div class="navbar-grey"></div>
            <div class="navbar-blue"></div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-responsive" aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-responsive">
            <div class="navbar-nav">
                <a class="navbar-brand" href="https://www.lycee-stvincent.fr/">
                    <img class='logo' src="/img\logo.png" alt="St-Vincent logo">
                </a>
                <div class="navbar-right">
                    <div class="navbar-grey"></div>
                    <div class="navbar-blue">
                        <a {% if route_name == "admin" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href={{ path('admin') }}>Accueil</a>
                        <a {% if route_name == "partners" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href={{ path('partners') }}>Partenariats</a>
                        <a {% if route_name == "admin_update_about" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href={{ path('admin_update_about') }}>A propos de nous</a>
                        <a {% if route_name == "admin_offers" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href={{ path('admin_offers') }}>Billetterie</a>
                        <a class="nav-link" href={{ path('app_logout') }}>Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
