{% extends 'back_office/base.html.twig' %}

{% block title %}Ajouter un partenaire {% endblock %}

{% block body %}

    <h3 class='hMessage'>Ajouter un partenaire:</h3>

    <div class='partner-form'>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.websiteLink) }}
            {{ form_row(form.image) }}
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
