{% extends 'back_office/base.html.twig' %}

{% block title %}Partenaires{% endblock %}  

{% block body %}

    <h3 class='hMessage'>Partenaires :</h3>
    
    {% for partners in partners %}

        <label for='image-input-{{ partners.id }}'> <img src={{ partners.image.path }} /> </label>

        <form class='form-partners-image' enctype="multipart/form-data">
            <input type='file' name='image-input' id='image-input-{{ partners.id }}' class='inputs-partners' data={{ partners.id }} />
        </form>

        <input type='text' name='name' class='partners-{{ partners.id }}' value="{{ partners.name }}" />
        <input type='text' name='description' class='partners-{{ partners.id }}' value="{{ partners.description }}" /> 
        <input type='text' name='websiteLink' class='partners-{{ partners.id }}' value="{{ partners.websiteLink }}" /> 

        <div class='partner-actions'>
            <a class='partner-update' data={{ partners.id }}>Modifier</a>
            <a class='partner-delete' data={{ partners.id }}>Supprimer</a>
        </div>

        <br><br><br><br><br>

    {% endfor %}

    <a href={{ path('partner_create') }}>
        <div class='partner-card'>
            <h3>Ajouter un partenaire</h3>
        </div>
    </a>

    <script src='/scripts/partner.js'></script>

{% endblock %}
