{% block content %}

{{ include('back_office/partner/delete.html.twig') }}

<h3>Liste des partenaires : </h3>

{% for partners in partners %}
    <p>{{ partners.name }}</p>
    <p>{{ partners.description }}</p>
    <a href="{{ partners.websiteLink }}" target='_blank'>{{ partners.websiteLink }}</a> 
    <img src="{{app.request.basepath}}/img/partner/{{partners.image.originalName}}.{{partners.image.extension}}" alt="monimg" />
    {# <a class='' href={{ path('partner_modify', {'id' : partners.id}) }}>Modifier</a> #}
    <a class='' href={{ path('partner_delete', {'id' : partners.id}) }}>Supprimer</a>
    <br><br> 
{% endfor %}

<a href='{{ path('partner_create') }}'>Ajouter</a>

{% endblock content %}