{% extends 'base.html.twig' %}

{% block title %} {{offer.name}} {% endblock %}

{% block body %} 

    <div class='menuPublic'>
        {{ include('include/menu.html.twig') }}
    </div>
    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>

                <div class='offer-page'>

                    <h3 class='hOffreS'>{{offer.name}}</h3>

                    <p>Publiée le {{ offer.publishedAt|format_datetime(pattern='dd/MM/yyyy à HH:mm', locale='fr') }}
                    {% if offer.type == "permanent" %}- Offre du
                        {{ offer.permanentValidityBeginning|format_datetime(pattern='dd/MM/yyyy à HH:mm', locale='fr') }}
                        au {{ offer.permanentValidityEnding|format_datetime(pattern='dd/MM/yyyy à HH:mm', locale='fr') }}</p>
                    {% else %}- Offre du
                        {{ offer.limitedDisplayBeginning|format_datetime(pattern='dd/MM/yyyy à HH:mm', locale='fr') }}
                        au {{ offer.limitedDisplayEnding|format_datetime(pattern='dd/MM/yyyy à HH:mm', locale='fr') }}</p>
                    {% endif %}</h3>
                        
                    
                    <div class='offer-body'>

                        <p>{{ offer.description }}<p>

                        <div class='offer-imgs'>
                            {% for image in offer.images %}
                                <img src="{{ image.path }}"/>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>

                <div class='btnPArtner'>
                    <a class='admin-update' href={{ path('offers') }}>Retour</a>
                </div><br>

            </div>
        </div>
    </div>

{% endblock %}
