{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}  

{% block body %}
    <div class='menuPublic'>
        {{ include('include/menu.html.twig') }}
    </div>

    <h3 class='hMessage'>Offres :</h3> 
    <div id="offers-index">
        <div class='partners-container offers-container'>
            {% for offer in pagination.data %}
                <div class='offer-card'>
                    <label for='image-{{ offer.id }}'><img src={{ offer.images[0].path }} /></label>
                    <div class='offer-right'>
                        <div class='offer-info'>
                            <h4>{{ offer.name }}</h4>
                            <div class="offer-description">
                                <p>{{ offer.description }}</p>
                            </div>
                            <div class="offer-more">
                                <a class='offer-about-button' href={{ path('offer_details', {'id' : offer.id}) }}>En savoir plus &gt;</a>
                            </div>
                        </div>
                    </div>
                </div><br>
            {% endfor %}
        </div>
        <div class="pagination-offers">
            {{ include('components/_paginationIndex.html.twig') }}
        </div>
    </div>
{% endblock %}
