{% extends 'back_office/base.html.twig' %}

{% block title %}Ajouter un membre {% endblock %}

{% block body %}

    <div class='addPartner'>

        <h3 class='hMessage'>Ajouter un membre :</h3>

        <div class='partner-form'>

            {{ form_start(form) }}

                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}

                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}

                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
                {{ form_errors(form.image) }}

                {{ form_widget(form.submit) }}

            {{ form_end(form) }}

        </div>

        <div class='btnPArtner'>
            <a class='admin-update' href={{ path('update_members') }}>Retour</a>
        </div>

    </div>

{% endblock %}
