{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}
    <div id='aboutUs'>
        <h2>A propos de nous</h2>
        <p>{{ text | raw }}</p>
        <h2>Qui sommes nous ?</h2>
        <div class='aboutUs-photos'>
            {% for member in members %}
                <div class='about-presentation'>
                    <img src={{ member.image.path }} />
                    <h4>{{ member.name }} {{ member.firstname }}</h4>
                </div>
            {% endfor %}
        </div>
        <div class='aboutus-rules'>
            <h2>Règlement</h2>
            <p>{{ rules | raw }}</p>            
        </div>
        <div class='aboutus-actions'>
            <h2>Nos actions</h2>
            <p>{{ actions | raw }}</p>            
        </div>
    </div>

</div>{% endblock %}
