{% extends 'base.html.twig' %}

{% block title %}Contactez-nous ! {% endblock %}

{% block body %} 

    <div class='menuPublic'>
        {{ include('include/menu.html.twig') }}
    </div>

    <div class='contact-form'>        
        <div id='contact'>
            <h2>Contactez-nous</h2>
            {{ form_start(form) }}

                {{ form_row(form.name) }}
                
                {{ form_row(form.firstName) }}

                {{ form_row(form.email) }}

                {{ form_row(form.message) }}

                <div class='contact-newsletter'>
                    {{ form_row(form.newsletter) }}
                </div>

                <div class='cap'>
                    {{ form_row(form.security) }}
                </div>

                {% for message in app.flashes('contact-success') %}
                    <div class="contact-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
