{% extends "base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %} 

    <div class='menuPublic'>
        {{ include('include/menu.html.twig') }}
    </div>   

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>

                <div class='cse'>
                    <h4>CSE Lycée Saint-Vincent</h4>
                    <p class='txtAccueil'>{{ text | raw }}</p>
                    <p class='lienAccueil'>Découvrez <a href={{ path('aboutUs') }}>l'équipe</a> et le <a href={{ path('aboutUs') }}>rôle</a> et missions de votre CSE.</p>
                </div>

                <h3 class='hOffre'>Dernières offres ponctuelles</h3>

                <div class="offer">
                    {% for offer in pagination.data %}
                        <div class="offer-container">
                            <div class='offer-top'>
                                <div class='offer-icon'>Offre ponctuelle</div>
                                <h6 class='offer-time'>Publiée le {{ offer.publishedAt|format_datetime(pattern='dd/MM/yyyy à HH:mm', locale='fr') }} - Du {{ offer.permanentValidityBeginning|date("d/m/Y") }} du {{ offer.permanentValidityEnding|date("d/m/Y") }} </h6>
                            </div>
                            <p class='offer-description'>{{ offer.description }}</p>
                            <a  class='offer-about' href={{ path('offer_details', {'id' : offer.id}) }}>En savoir plus &gt;</a>
                        </div>
                    {% endfor %}
                </div>
                {% include 'components/_pagination.html.twig' %}
            </div>
        </div>
    </div>

    <script src='/scripts/homepage.js'></script>
{% endblock %}
