{% extends 'base.html.twig' %}

{% block title %}Partenariats {% endblock %}

{% block body %} 

    <div class='menuPublic'>
        {{ include('include/menu.html.twig') }}
    </div>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>

                <h3 class='hPartner'>Nos partenaires</h3>

                <div class='partners-container'>

                    {% if partners|length > 0 %}
                        
                        {% for partners in partners %}

                            <div class='partner-card'>

                                <label for='image-input-{{ partners.id }}'> <img src={{ partners.image.path }} /> </label>

                                <div class='partner-right'>

                                    <div class='partner-info'>

                                        <div class='partnerName'>
                                            {{ partners.name }}
                                        </div>

                                        <div class='partnerDescription'>
                                        {{ partners.description }}
                                        </div>

                                        <div class='partnerLink'>
                                        <a href='{{ partners.websiteLink }}' target='blank'>{{ partners.websiteLink }}</a>
                                        </div>

                                    </div>

                                </div>
                                
                            </div>

                        {% endfor %}

                    {% else %}

                        Pas de partenaire
                    
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}
