<div class='survey-container'>
    <div class='survey-header'><h5>Votre avis compte</h5></div>
    <div class='survey-body'>
    {% if form is defined %}
        {{ form_start(form) }}
            <div class='survey-no-stat'>
                <h6>{{ survey.question }}</h6>
                <div class='survey-choices'>
                    {{ form_widget(form.answers) }}
                </div>
                <input type='hidden' name='survey' value={{ survey.id }} /> 
                {% for message in app.flashes('SurveySuccess') %}
                    <div class="alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class='survey-footer'>{{ form_widget(form.save, { 'label': 'Valider' }) }}</div>
        {{ form_end(form) }}
    {% else %}<br>
        <h5>Sondage actuellement indisponible</h5>
        </div>
        <div class='survey-footer'></div>
    {% endif %}
</div>