{% extends 'back_office/base.html.twig' %}

{% block title %}Offres | Admin{% endblock %}

{% block body %}    
    <section id="form-section" imagesNumber=0>
        <h2 class="form-title">Nouvelle offre
            <select id="select-type-offer" onChange="changeOfferForm(this.value); switchForm(); addFormToCollection()">
                <option value="permanent">permanente</option>
                <option value="limited">limitée</option>
            </select>
        </h2>
        <div id="permanent_offers_form">
            {{ form_start(form_permanent) }}
            <div class="form">
                <div class="form-separate">
                    <div class="form-left">
                        {{ form_row(form_permanent.name) }}
                        {{ form_row(form_permanent.description) }}
                        {{ form_row(form_permanent.images) }}
                    </div>
                    <div class="form-right">
                        {{ form_row(form_permanent.permanentValidityBeginning) }}
                        {{ form_row(form_permanent.permanentValidityEnding) }}
                        {{ form_row(form_permanent.permanentMinimumPlaces) }}
                    </div>
                </div>
                <div class='offer-form-buttons'>
                    <p class="image-error"></p>
                    {{ form_row(form_permanent.submit) }}
                </div>
            </div>
            {{ form_end(form_permanent) }}
        </div>
        <div id="limited_offers_form">
            {{ form_start(form_limited) }}
            <div class="form">
                <div class="form-separate">
                    <div class="form-left">
                        {{ form_row(form_limited.name) }}
                        {{ form_row(form_limited.description) }}
                        {{ form_row(form_limited.images) }}
                        <ul id="limited-images">
                        </ul>
                    </div>
                    <div class="form-right">
                        {{ form_row(form_limited.limitedDisplayBeginning) }}
                        {{ form_row(form_limited.limitedDisplayEnding) }}
                        {{ form_row(form_limited.limitedDisplayNumber) }}
                    </div>
                </div>
                <div class="full-width-form">
                    {# {{ form_row(form_limited.image) }} #}
                    {# {{ technology.image.path }} #}
                    {# <img src="{{ asset('img/' ~ technology.image.path) }}" alt="Photo"/> #}
                </div>
                <div class='offer-form-buttons'>
                    <p class="image-error"></p>
                    {{ form_row(form_limited.submit) }}
                </div>
            </div>
            {{ form_end(form_limited) }}
        </div>
    </section>
    <div class="offer-buttons">
        <a class="offer-button" href="{{ path('offers') }}">Retour au menu des offres</a>
    </div>
    <script src="/scripts/add_offer_image.js"></script>
    <script>
        changeOfferForm();
        switchForm();
        addFormToCollection();

        function changeOfferForm(type) {
            var permanent = document.getElementById("permanent_offers_form");
            var limited = document.getElementById("limited_offers_form");
            if (type == "limited") {
                permanent.style.display = "none";
                limited.style.display = "inline";
            } else {
                permanent.style.display = "inline";
                limited.style.display = "none";
            }
        }
    </script>
{% endblock %}