{% extends 'back_office/base.html.twig' %}

{% block title %}Offres | Admin{% endblock %}

{% block body %}    
    <section id="form-section" imagesNumber=0>
        <h2 class="form-title">Nouvelle offre {{ type }}</h2>
        <div id="permanent_offers_form">
            {{ form_start(form) }}
            <div class="form" type={{ type }}>
                <div class="form-separate">
                    <div class="form-left">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}

                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}

                        {{ form_label(form.images) }}
                        {{ form_widget(form.images) }}
                        {{ form_errors(form.images) }}
                    </div>
                    <div class="form-right">
                        {% if type == "permanente" %}
                            {{ form_label(form.permanentValidityBeginning) }}
                            {{ form_widget(form.permanentValidityBeginning) }}
                            {{ form_errors(form.permanentValidityBeginning) }}

                            {{ form_label(form.permanentValidityEnding) }}
                            {{ form_widget(form.permanentValidityEnding) }}
                            {{ form_errors(form.permanentValidityEnding) }}
                            
                            {{ form_label(form.permanentMinimumPlaces) }}
                            {{ form_widget(form.permanentMinimumPlaces) }}
                            {{ form_errors(form.permanentMinimumPlaces) }}
                        {% else %}
                            {{ form_label(form.limitedDisplayBeginning) }}
                            {{ form_widget(form.limitedDisplayBeginning) }}
                            {{ form_errors(form.limitedDisplayBeginning) }}
                            
                            {{ form_label(form.limitedDisplayEnding) }}
                            {{ form_widget(form.limitedDisplayEnding) }}
                            {{ form_errors(form.limitedDisplayEnding) }}
                            
                            {{ form_label(form.limitedDisplayNumber) }}
                            {{ form_widget(form.limitedDisplayNumber) }}
                            {{ form_errors(form.limitedDisplayNumber) }}
                        {% endif %}
                    </div>
                </div>
                <div class='offer-form-buttons'>
                    <p class="image-error"></p>
                    {{ form_row(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
    <div class="offer-return">
        <a class="offer-button" href="{{ path('admin_offers') }}">Retour au menu des offres</a>
    </div>
    <script src="/scripts/add_offer_image.js"></script>
    <script>
        addFormToCollection();
    </script>
{% endblock %}