{% extends 'back_office/base.html.twig' %}

{% block title %}Offres | Admin{% endblock %}

{% block body %}
    <h1 class='menu-title'>Offres</h1>
    <section id='offers'>
        <div id="new-offer-buttons">
            <a class="offer-button" href="{{ path('create_permanent_offer') }}">Nouvelle offre permanente</a>
            <a class="offer-button" href="{{ path('create_limited_offer') }}">Nouvelle offre limitée</a>
        </div>
        {% if offers|length > 0 %}
            <table id='offers-table'>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Détails</th>
                    </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                    <tr>
                        <td>{{ offer.name }}</td>
                        <td><a href="{{ path('offer', { id: offer.id }) }}">Voir les détails</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Pas de résultats
        {% endif %}
    </section>
    <div class="offer-buttons" style="margin-left: 10vw;">
        <a class="offer-button" href="{{ path('admin') }}">Retour au back-office</a>
    </div>
{% endblock %}