{% extends 'back_office/base.html.twig' %}

{% block title %}Offres | Admin{% endblock %}

{% block body %}
    <div id='offer-body'>
        <h2 class="form-title">{{ offer.name|capitalize }}</h2>
        <div id="form-section">
            <div id="permanent_offers_form">
                <div class="form">
                    <div class="form-separate">
                        <div class="form-left">
                            {{ offer.name }}
                            {{ offer.description }}
                            {# {{ offer.images }} #}
                        </div>
                        {% if offer.type == 'permanent' %}
                        <div class="form-right-permanent">
                            {{ validity_beginning }}
                            {{ validity_ending }}
                            {{ offer.permanentMinimumPlaces }}
                        </div>
                        {% else %}
                        <div class="form-right-limited">
                            {{ display_beginning }}
                            {{ display_ending }}
                            {{ offer.limitedDisplayNumber }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="full-width-form">
                        {% for image in offer.images %}
                            <img src="{{ image.path }}" alt="Image"/>
                        {% endfor %}
                    </div>
                    <div class="offer-form-buttons">
                        <a class="offer-button" href="{{ path('update_offer', { id: offer.id }) }}">Modifier</a>
                        <a class="offer-button" href="{{ path('delete_offer', { id: offer.id }) }}">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer-buttons">
            <a class="offer-button" href="{{ path('offers') }}">Retour au menu des offres</a>
        </div>
    </div>
{% endblock %}